<div class＝allpage>
<div class:top_image>
<%= image_tag("top1.png", class:"kintai_top1")%>
</div>
<div>
<div class= top_title_all>
<h1 class= top_title>🕴勤怠くん🕴</h1>
</div>
<ul>
<li class=teigi>労働時間の管理が簡単！</li>
<li class=teigi>残業時間の超過防止！</li>
<li class=teigi>生産性向上！</li>
</ul>
</div>






<div class:foot_image>
<%= image_tag("foot2.png", class:"kintai_top2")%>
</div>
</div>