body{


}



.kintai_top1{
  width: 100vw;
  height: 40vh;
  border-bottom: 10px double skyblue;
}

.top_title{
font-size: 30px;

}

.top_title_all{
 text-align: center;
 padding: 0.5em 1em;
 margin: 2em 0;
 font-weight: bold;
 color: #6091d3;/*文字色*/
 background: #FFF;
 border: solid 3px #6091d3;/*線*/
 border-radius: 10px;
}

.top_title_all p {
  margin: 0; 
  padding: 0;
}

.teigi{
text-align: center;
list-style: none;
font-size: 30px;
text-decoration: underline;
text-decoration-color: rgb(231, 146, 167);
}


.kintai_top2{
width: 100vw;
height: 40vh;
border-top: 10px double skyblue;
}

.nav__right{
text-align: right;
font-size: 20px;
margin: 20px;


}

.login_design{
text-align: center;
margin: 30px;

}

.event-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}